body {
    position: relative;

}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.header-content,
section,
footer {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

section {
    padding: 1rem;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 1000;
    padding: 1.5rem 1rem;
}

.header-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.header-content > div:last-of-type {
    display: flex;
}
